* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at center, #6d526f 0%, #1a181a 100%);
  background-size: 100% 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  background: radial-gradient(circle at center, #6d526f 0%, #1a181a 100%);
  top: 0px;
  color: #fdfdfd;
  position: fixed;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 40px;
}

.letras {
  color: #fcfcf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.eu {
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
}

.dev1 {
  max-width: 800px;
  font-size: 100px;
  font-family: "Angkor", cursive;
  line-height: 120px;
}

.lk img,
.git img {
  height: 80px;
  width: 80px;
  margin: 0 10px;
  cursor: pointer;
}
*/ .container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
